<div class="row">
    <div class="col-md-3">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Task</h4>
                <p class="card-category">Complete</p>
            </div>
            <div class="card-body">
                <div id="task-complete" class="chart-circle mt-4 mb-3"></div>
            </div>
            <div class="card-footer">
                <div class="legend"><i class="la la-circle text-primary"></i> Completed</div>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">World Map</h4>
                <p class="card-category">
                    Map of the distribution of users around the world
                </p>
            </div>
            <div class="card-body">
                <div class="mapcontainer">
                    <div class="map">
                        <span>Alternative content for the map</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>