@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid">
    <h4 class="page-title">Dashboard</h4>
    <!--My Balance Statistic-->
    @await Component.InvokeAsync("_aDashboardMyBalanceComponentPartial")
@*     <!--Graphics (Task,world map)-->
    @await Component.InvokeAsync("_aDashboardGraphicsMapsComponentPartial") 
    <!--Users Statistic-->
    @await Component.InvokeAsync("_aDashboardUsersStatisticComponentPartial")
    <!--Table-Tasks Statistic-->
    @await Component.InvokeAsync("_aDashboardTableTasksComponentPartial") *@

</div>

